.stateIcon {
  display: grid;
  width: 52px;
  height: 52px;
  place-items: center;

  border-radius: 16px;
}

.stateIcon {
  color: var(--color-primary);
  background: var(--color-primary-subtle);
}
